* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  background-color: #f0ffff70;
}
.container {
  padding: 2% 9%;
}
header h1 {
  text-align: center;
  background-image: url(https://media.giphy.com/media/3oEjHOUcNRKgpqTHiM/source.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vH;
  width: 100%;
  color: #575bff;
}
nav {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  background-color: #b8dbd3;
}
nav a {
  text-decoration: none;
  color: #575bff;
  padding-top: 2%;
  font-size: 19px;
}
.main-content {
  display: flex;
}
.top-content {
  color: #68c4af;
  margin-right: 5%;
}
img {
  width: 100%;
}
.bottom-content {
  color: cornflowerblue;
}
