* {
  box-sizing: border-box;
  margin: 0 auto;
}
html {
  font-size: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
}
img {
  width: 83%;
  height: 75%;
  border-radius: 100%;
}
ul {
  font-size: 14px;
  padding: 2.3% 0% 1% 11%;
}
p {
  width: 100%;
  padding: 4%;
  display: flex;
}
nav {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  background: #C9CCD3;
  opacity: 0.48;
  width: 100%;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #232323;
  padding-top: 2%;
  font-size: 20px;
}
footer {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.35;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
  background: url(https://media.giphy.com/media/DFiuYShYwDntm/source.gif);
  background-size: cover;
  background-repeat: repeat;
}
#bg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 90%;
  height: 80%;
  display: flex;
}
.box {
  width: 31%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0.75;
  transition: 0.3s ease;
}
.box:hover {
  width: 35%;
  height: 100%;
}
.box:hover img {
  transform: rotate(15deg);
}
.box .one img {
  transition: 2s;
}
.box .one {
  width: 100%;
  height: 50%;
  background: #317873;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .divider {
  width: 100%;
  height: 10%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .two {
  width: 100%;
  height: 40%;
  background: #dff9fb;
}
button {
  position: relative;
  left: 36%;
}
