footer{
    width: 100%;   
    height: 4em;
    display:flex; 
    flex-direction: column;
    color: white; 
    opacity: 0.35;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;

    @media @phone{
        margin-top: 5%;
    }//this closes the phone media query for the footer
}//this closes the footer




.footer2{
    background: #58B19F;
    opacity: 0.9;
    height: 6em;
    
    @media @phone{
        padding-top: 3%;
    }//this closes the media query for footer2
}//this closes footer2