html{
    font-size: 100%;
}

body{
    width: 100%;
    margin: 0 auto; 
}

h1{
    padding-top: 1%; 
  }

  h3{
    font-family: 'Roboto', sans-serif;
  }

  h4{
    font-family: 'Spartan', sans-serif;
    margin-top: 2%;
  }


  ul{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    padding: 2.3% 0% 1% 11%;
  }

  ul li{
    padding-bottom: 5%;
    padding-top: 3%;
  }

img{
    width: 83%;
    height: 75%;
    border-radius: 100%;

} 

  p{
    width: 100%;
    padding: 4%;
    display:flex; 
    font-family: 'Spartan', sans-serif;
  }

  span{
    font-family: 'Source Code Pro', monospace;
     font-size: 11px;
   text-align: center; 
 }

 span:hover{
    color: white; 
  }
