html{
    font-size: 100%;
}

body{

    width: 100%;
    margin: 0 auto; 
}



img{
    width: 83%;
    height: 75%;
    border-radius: 100%;

} 

ul{
    font-size: 14px;
      padding: 2.3% 0% 1% 11%;
  }
  
  p{
    width: 100%;
    padding: 4%;
    display:flex; 
  }