.wrapper{
    .full();
    .column();
    flex: 1 1 auto;
    .background-home();

    @media @phone{
        height:100%;
    }//this closes the media phone query for wrapper

}//this closes the wrapper


#bg{
    .full();
    .centered(); 
  }

.content{
    width: 90%;
    height: 80%;
    display: flex;
    margin-top: 8%;

    @media @phone{
            .full();
            .column();
            margin-top: 6%;
    }//this closes the phone media query for content
}//this closes the content

.box{
    .custom-box();
    .centered();
    flex-wrap: wrap;
    
    @media @phone{
          width: 57%;
          height: 31vh;
          border-radius: 2rem; 
          margin-bottom: 2.4%;
      }//this closes the phone media query for box
  }//this closes the box

  .box:hover{
    width: 35%;
    height: 100%;

    @media @phone{
      height: 50%;
      width: 65%;
    }//this closes the box:hover media phone query
  }//this closes the box:hover

  .box:hover img{
    transform: rotate(15deg);
  }
  
 

  .box .one{
    width: 100%;
    height: 50%;
    background: @darker-blue; 
    .centered();
  
    @media @phone{
          height: 55%;
      }//this closes the phone media query for box one
    
    img{
        transition: 2s;
      }//this closes box one img

  }//this closes box one
  
  .box .divider{
    width: 100%;
    height: 10%;
    background:@white;
    .centered(); 
  }
  
  .box .two{
    width: 100%;
    height: 40%;
    background: @sky-blue; 
  
    @media @phone{
          height: 45%;
      }//this closes phone media query for box two

    @media @tablet{
        background: @darker-green;
      }//this closes tablet media query for box two
  }//this closes box two


button{
    .custom-btn();
   
    @media @phone{
        padding-left: 7%;
        height: 20px;
        font-size: 13px; 
    }//this closes the phone media query for button
}//this closes the button

    
  
//start of team page css
//start of team page css
//start of team page css
//start of team page css

  /* Use this mobile view */

  #title{
    position: relative;
    right: 8%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em; 
    text-align:center;
    margin-top: 3%;

  }//this closes the title

  #title:hover{
    color: @white;
    }//this closes the hover for title

  .container{
    background: #58B19F;
    opacity: 0.9;
    width: 100%;
    height: 100%; 
    padding-left: 15%;
    .column();
   flex: 1 1 auto;
 
    @media @tablet{
      background: #bcf9d5;  
    }//this closes the media query for container
  }//this closes the container

  
  .top-content{
    justify-content: space-evenly;
    .centered();
    padding-top: 5%;
 
    @media @phone{
      .column();
    }//this closes the media query for top-content
  }//this closes the top-content

  .bottom-content{
    justify-content: space-evenly;
    .centered(); 
 
    @media @phone{
      .column();
    }//this closes the media query for bottom-content
  }//this closes the bottom-content


  .person{
    .column();
    justify-content: space-around;
    .centered();
    margin-right: 12%;
    margin-bottom: 10%;
    transition: 0.8s ease;

    @media @phone{
      margin-bottom: 10%;
    }//this closes the media query for person
  }//this closes person

.person:hover {
    font-size: 1.7rem; 
  }//this closes the person hover

  .person img{
    transition: 3s;
    }

    .person:hover img{
        transform: rotate(18deg);
      }//this closes the image for person:hover

 

