nav {
    height: 10vh;
    display: flex;
    justify-content: space-around; 
    background: #C9CCD3;
    opacity: 0.48;
    width: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
  }

nav{
  @media @phone{
    display:flex;
    flex-direction: column; 
    height: 43vh;
    padding: 1em;
    background: rgba(194, 210, 29, 0.3);
  }//this closes the media query for nav
}//this closes the nav

  nav a {
    text-decoration: none;
    color: #232323;
    padding-top: 2%;
    font-size: 15px;
    transition: 0.4s ease;
  }
  
  nav a:hover{
    font-size: 18.5px;
  }

  // icon seedling
  .fas{
    padding-top: 2%; 
    font-size: 2em; 
  }