nav {
    height: 10vh;
    display: flex;
    justify-content: space-around; 
    background: @light-blue;
    opacity: 0.48;
    width: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;  

    a {
      color: @black;
      padding-top: 2%;
      font-size: 15px;
      transition: 0.4s ease;
    }//this closes the anchor tags

    a:hover{
      font-size: 18.5px;
    }//this closes the anchor tag:hover 

    @media @tablet{
      background:@lightgreen;
    }//this closes the tablet media query for nav

    @media @phone{
    .column();
    height: 43vh;
    padding: 1em;
  }//this closes the phone media query for nav
}//this closes the nav



  // icon plant 
  .fas{
    padding-top: 2%; 
    font-size: 2em; 
  }