
//Color assignments
@button-bg: @white;
@font-color: @black;  
@footer-bg: @turquoise;


//Colors

@sky-blue: #dff9fb;
@light-blue: #a8d1c7;
@darker-blue: #317873;
@white:#fff;
@black: #232323;

@lightgreen:rgba(194, 210, 29, 0.3);
@darker-green: rgba(112, 181, 89, 0.7);

@mint-green: #bcf9d5;
@turquoise: #58B19F;


//Fonts

@heading-font:'Roboto', sans-serif;
@main-font: 'Spartan', sans-serif;
@footer-font:'Source Code Pro', monospace;


//Escaping

//tablet var
@tablet: (max-width: 800px);
//phone var
@phone:(max-width: 500px);