//Color assignments

// @button-bg: 
// @font-color: @black;  
// @footer-bg: 


//Colors

@light-blue: #a8d1c7;
@darker-blue: #317873;
@white:#fff;
@black: #232323;

@lightgreen:rgba(194, 210, 29, 0.3);
@darker-green: rgba(112, 181, 89, 0.7);

@mint-green: #bcf9d5;
@turquoise: #58B19F;

//Escaping

//tablet var
@tablet: (max-width: 800px);


//mobile var
@phone:(max-width: 500px);